<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect all requests to index.php" stopProcessing="false">
					<match url="^/(.*)$" negate="true" />
					<action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" logRewrittenUrl="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
				</rule>
			</rules>
		</rewrite>
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>